---
import Layout from '../layouts/Layout.astro';
// import Card from '../components/Card.astro';
// import TestVueComponent from '../components/vue-components/Test.vue';

const randomTextColor = `#${Math.floor(Math.random() * 16777215).toString(16)}`
---

<Layout title="Welcome to Astro.">
	<main>
		<h1>Cats generator</h1>

		<article>
			<p>Vue 3 + PrimeVue gallery</p>
		</article>
		<article>
			<p>React + Simple gallery library</p>
		</article>
		<article>
			<p>Fully Static Site</p>
		</article>
		
	</main>
</Layout>

<style define:vars={{ randomTextColor }}>
	h1 {
		color: var(--randomTextColor);
	}

	main {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 100%;

	}
</style>